<% layout('layout') %>
<section class="jumbotron text-center mt-5 pt-5">
    <div class="container">
     <h1><%= title %></h1>
     <h2><%= subtitle %></h2>
     <p class="lead text-muted"><%= description %></p>
    </div>
</section>