<% layout('layout') %>
<div class="container text-center">
    <h1 class="mt-5 pt-5"><%= title %></h1>
    <h2><%- subtitle %></h2>
    <ul>
    <% if(show) { %>
        <p>滿足</p>
        <% } else { %>
            <p>不滿足</p>
            <% } %>
    <% for(var i=0; i < food.length; i++){ %>
        <li><%- food[i] %></li>
        <% } %>
    </ul>
</div>

