<% layout('layout') %>
<section class="jumbotron text-center mt-5 pt-5">
    <div class="container">
     <h1><%= title %></h1>
     <h2><%= subtitle %></h2>
     <p class="lead text-muted"><%= description %></p>
    </div>
</section>
<div class="album py-5 bg-light">
    <div class="container">
    <div class="row">
    <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
    xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
    focusable="false" role="img" aria-label="Placeholder: Thumbnail">
    <title>Placeholder</title>
    <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
    dy=".3em">Thumbnail</text>
    </svg>
    <div class="card-body">
    <p class="card-text">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro neque soluta ullam,
    rerum deserunt in possimus similique quam, dicta alias eligendi dolores quas beatae
    animi odio tempora quae. Porro, non!
    </p>
    </div>
    </div>
    </div>
    <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
    xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
    focusable="false" role="img" aria-label="Placeholder: Thumbnail">
    <title>Placeholder</title>
    <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
    dy=".3em">Thumbnail</text>
    </svg>
    <div class="card-body">
    <p class="card-text">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro neque soluta ullam,
    rerum deserunt in possimus similique quam, dicta alias eligendi dolores quas beatae
    animi odio tempora quae. Porro, non!
    </p>
    </div>
    </div>
    </div>
    <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
    xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
    focusable="false" role="img" aria-label="Placeholder: Thumbnail">
    <title>Placeholder</title>
    <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
    dy=".3em">Thumbnail</text>
    </svg>
    <div class="card-body">
    <p class="card-text">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro neque soluta ullam,
    rerum deserunt in possimus similique quam, dicta alias eligendi dolores quas beatae
    animi odio tempora quae. Porro, non!
    </p>
    </div>
    </div>
    </div>
    <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
    xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
    focusable="false" role="img" aria-label="Placeholder: Thumbnail">
    <title>Placeholder</title>
    <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
    dy=".3em">Thumbnail</text>
    </svg>
    <div class="card-body">
    <p class="card-text">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro neque soluta ullam,
    rerum deserunt in possimus similique quam, dicta alias eligendi dolores quas beatae
    animi odio tempora quae. Porro, non!
    </p>
    </div>
    </div>
    </div>
    <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
    xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
    focusable="false" role="img" aria-label="Placeholder: Thumbnail">
    <title>Placeholder</title>
    <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
    dy=".3em">Thumbnail</text>
    </svg>
    <div class="card-body">
    <p class="card-text">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro neque soluta ullam,
    rerum deserunt in possimus similique quam, dicta alias eligendi dolores quas beatae
    animi odio tempora quae. Porro, non!
    </p>
    </div>
    </div>
    </div>
    <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
    xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
    focusable="false" role="img" aria-label="Placeholder: Thumbnail">
    <title>Placeholder</title>
    <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
    dy=".3em">Thumbnail</text>
    </svg>
    <div class="card-body">
    <p class="card-text">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro neque soluta ullam,
    rerum deserunt in possimus similique quam, dicta alias eligendi dolores quas beatae
    animi odio tempora quae. Porro, non!
    </p>
    </div>
    </div>
    </div>
    <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
    xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
    focusable="false" role="img" aria-label="Placeholder: Thumbnail">
    <title>Placeholder</title>
    <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
    dy=".3em">Thumbnail</text>
    </svg>
    <div class="card-body">
    <p class="card-text">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro neque soluta ullam,
    rerum deserunt in possimus similique quam, dicta alias eligendi dolores quas beatae
    animi odio tempora quae. Porro, non!
    </p></div></div></div>
    <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
    xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
    focusable="false" role="img" aria-label="Placeholder: Thumbnail">
    <title>Placeholder</title>
    <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
    dy=".3em">Thumbnail</text>
    </svg>
    <div class="card-body">
    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro neque soluta ullam, rerum deserunt in possimus similique quam, dicta alias eligendi dolores quas beatae animi odio tempora quae. Porro, non!</p>
    </div>
    </div>
    </div>
    <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
    xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
    focusable="false" role="img" aria-label="Placeholder: Thumbnail">
    <title>Placeholder</title>
    <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
    dy=".3em">Thumbnail</text>
    </svg>
    <div class="card-body">
    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro neque soluta ullam, rerum deserunt in possimus similique quam, dicta alias eligendi dolores quas beatae animi odio tempora quae. Porro, non!</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>