<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <footer class="text-muted">
        <div class="container py-3">
        <p class="float-right">
        <a href="/">回首頁</a>
        </p>
        <p>2020 &copy; 版權所有 Sean Yeh 出品</p>
        <p>剛來的嗎？要不要先去逛逛<a href="/about">關於我們</a> 頁面，裡面可以知道我們是誰或者是去逛逛<a href="/product">產品資訊</a>，暸解我們在賣什麼。</p>
        </div>
    </footer>
</body>
</html>