<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Wendy's EJS測試網站</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-around" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">首頁</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">關於我們</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/product">產品資訊</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">聯絡我們</a>
                </li>
            </ul>
        <form class="form-inline my-2 my-lg-0 d-flex">
            <input class="form-control mr-sm-2" style="width: 75%;" type="text" placeholder="搜尋..." aria-label="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">搜尋</button>
        </form>
        </div>
        </nav>
    </header>
</body>
</html>